/* #0F390A, #0D3A1B, #101914, #879A76, #4AAE28 */

* {
    box-sizing: border-box;
}

.header {
    background-image: url("Forest Background.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    padding: 5%;
    text-align: center;
}

body {
    margin: 0;
    background-color: #838060;
    font-family: Helvetica, sans-serif;
}

.title{
    background-color: #8a6952d9;
    border-radius: 50%;
    text-align: center;
    color: #101914;
    margin: auto;
    width: 20%;
    padding: 25px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}
  
/* Left and right column */
.column.side {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 21%;
}
  
  /* Middle column */
.column.middle {
    margin-top: 2%;
    width: 50%;
}
  
  /* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .column.side, .column.middle {
      width: 100%;
    }
}

.square_one {
    height: 100px;
    background-color: #0D3A1B;
}

.square_two {
    background-color: #0D2E09;
    color: #879A76;
    display: table-cell; 
    text-align: center; 
    vertical-align: middle; 
}

.about_me {
    font-size: 50px;
}

.square_three {
    height: 100px;
    background-color: #0D3A1B;
}

.square_four {
    height: 100px;
    background-color: #673C1E;
}

ul {
    display: grid; 
    place-items: center; 
}

sub {
    text-align: center;
}