* {
    box-sizing: border-box;
}

body {
    background: url('../images/background.jpg');
    margin: auto;
    font-family: Helvetica, sans-serif;
}

main {
    color: #373D35;
}

#logo {
    display: block;
    margin: 20px auto;
    width: 400px;
}

.main_screen {
    margin: 0 auto;
    width: 540px;
}

.main_link:link, .main_link:visited {
    color: #373D35;
    text-decoration: none;
}

.main_link:hover, .main_link:active, .main_link:focus {
    padding: 65px 0;
}

.main_link {
    padding: 75px 0;
    display: inline-block;
    transition: padding 0.25s;
}

.main_grid {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    border-radius: 10%;
    width: 250px;
    height: 250px;
}

.top.left, .bottom.right {
    float: left;
    background-image: linear-gradient(to bottom right, #6f5e5c, #c6caed);
}

.bottom.left, .top.right {
    float: left;
    background-image: linear-gradient(to bottom right, #ada8be, #4a5240);
}

#row2 {
    clear: left;
}

button {
    width: 200px;
    height: 50px;
    margin: 5px 0 0 5px;
    border: 2px solid #6f5e5c;
    border-radius: 12px;
    background-image: linear-gradient(to bottom right, #6f5e5c, #c6caed);
    color: #373D35;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #594c4a, #b1b7e7);
}

#title {
    text-align: center;
    margin-top: 50px
}

.content {
    margin: auto;
    background-color: rgba(162, 132, 151, 0.5);
    width: 50%;
}

.content ul {
    list-style-type: none;
}
